li.todo-list-item {
    padding: 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    font-family: Courier;
    height: 54px;
}
li.todo-list-item:hover {
    background: rgb(187, 186, 186);
}

ul {
    width: 50%;
    margin: 0 auto;
    list-style-type : none;
    padding: 0;
}